<div class="list">

  <div class="search-bar">
    <div class="list__count">
      {{ list.messages.length && list.messages.length || 'no' }} items
    </div>
    <div ng-hide="!list.messages.length">
      <input type="text" class="list__search" 
        ng-model="list.search" placeholder="Search">
    </div>

  </div>
  <ul class="list__list">
    <li ng-show="!list.messages.length" class="no-todos">
      Nothing to do!
    </li>
    <li ng-repeat="message in list.messages | filter:{ from: list.search }">
      <div class="list__list-info">
        <p class="list__list-date"> {{ message.date | date: 'MM/dd/yyyy' }} </p>
        <p class="list__list-subject"> {{ message.subject }} </p>
      </div>
      <div class="list__list-actions">
        <a href="" ng-click="list.goToMessage(message.id);">
          Details
        </a>
        <a href="" ng-click="list.deleteMessage(id, $index);">
          Delete
        </a>
      </div>
    </li>
  </ul>
</div>